.index { background-color:#FFFFFF }
.index-passed { color:#004400 }
.index-failed { color:#FF0000; font-weight:bold }
.index-header { font-weight:bold }

.link { font-family:arial,helvetica,sans-serif; font-size:10pt; color:#000000; text-decoration:underline; }
.link:visited { color:#000000 }
.link:hover { color:#0000FF }
.link-error { font-family:arial,helvetica,sans-serif; font-size:10pt; color:#FF0000; text-decoration:underline; }
.link-failure { font-family:arial,helvetica,sans-serif; font-size:10pt; color:#800080; text-decoration:underline; }

.tab-table { margin: 0em 0em 0.5em 0em; }
.tabs { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#000000; font-weight:bold; padding: 0em 2em; background-color:#EEEEEE; }
.tabs-link { color:#000000; text-decoration:none; }
.tabs-link:visited { color:#000000; text-decoration:none; }
.tabs-selected { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#000000; font-weight:bold; padding: 0em 2em; }
.tabs-selected { border: inset; }

.header-title { font-family:arial,helvetica,sans-serif; font-size:12pt; color:#000000; font-weight:bold; }
.header-title-success { font-family:arial,helvetica,sans-serif; font-size:12pt; color:#007700; font-weight:bold; }
.header-title-error { font-family:arial,helvetica,sans-serif; font-size:12pt; color:#FF0000; font-weight:bold; }
.header-title-failure { font-family:arial,helvetica,sans-serif; font-size:12pt; color:#800080; font-weight:bold; }
.header-label { font-weight:bold; }
.header-data { font-family:arial,helvetica,sans-serif; font-size:10pt; color:#000000; }

.table-nowrap { white-space:nowrap; }
.table-sectionheader { background-color:#000066; font-family:arial,helvetica,sans-serif; font-size:10pt; color:#FFFFFF; }
.table-oddrow { background-color:#CCCCCC }
.table-evenrow { background-color:#F4F4F4 }
.table-title { font-family:arial,helvetica,sans-serif; font-size:10pt; color:#000000; border-bottom:1px solid #000000; }
.table-title-success { font-family:arial,helvetica,sans-serif; font-size:10pt; color:#007700; }
.table-title-error { font-family:arial,helvetica,sans-serif; font-size:10pt; color:#FF0000; }
.table-title-failure { font-family:arial,helvetica,sans-serif; font-size:10pt; color:#901090; }
.table-text { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#000000; }
.table-text-success { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#007700; }
.table-text-error { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#FF0000; }
.table-text-failure { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#800080; }
.table-link { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#000000; text-decoration:underline; }
.table-link:visited { color:#000000 }
.table-link:hover { color:#0000FF }
.table-link-error { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#FF0000; text-decoration:underline; }
.table-link-failure { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#800080; text-decoration:underline; }

.djte-table-platform { background-color:#DCECFF; border-bottom:1px solid #777777; border-top:1px solid #777777; border-left:1px solid #777777; border-right:1px solid #777777; }
.djte-table-host { background-color:#FFE0E0; border-bottom:1px solid #777777; border-top:1px solid #777777; border-left:1px solid #777777; border-right:1px solid #777777; }
.djte-table-suite { background-color:#E0FFE0; border-bottom:1px solid #777777; border-top:1px solid #777777; border-left:1px solid #777777; border-right:1px solid #777777; }
.djte-table-test { background-color:#F4F4F4; border-bottom:1px solid #777777; border-top:1px solid #777777; border-left:1px solid #777777; border-right:1px solid #777777; }
.djte-expandable-link { font-family:arial,helvetica,sans-serif; font-size:10pt; color:#000000; text-decoration:none; }
.djte-expandable-link:hover { text-decoration:underline; }
.djte-expandable-link-button { font-family:arial,helvetica,sans-serif; font-size:8pt; color:#000000; text-decoration:none; }
.djte-expandable-content { display:none; }
