
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

blockquote {
	background-color: #f0f0f0;
	border: 1px dashed #bbbbbb;
	font-family: arial, helvetica, sans-serif;
	font-size: 85%;
	margin: 1em;
	margin-left: 3em;
	margin-right: 3em;
	padding: 0.5em;
}

body {
	background-color: #aacccc;
	font-size: 105%;
}

div.bigger {
	font-size: 115%;
}

div.codeblock {
	background-color: #f0f0f0;
	border: 1px dashed #bbbbbb;
	font-family: arial, helvetica, sans-serif;
	font-size: 85%;
	margin: 1em;
	margin-left: 3em;
	margin-right: 3em;
	padding: 0.5em;
}

div.download {
	font-size: 125%;
}

div.faq {
}

div.faq div.question {
	font-style: italic;
	font-weight: bold;
}

div.faq div.answer {
}

div#footer {
	font-size: 85%;
	font-style: italic;
	text-align: center;
}

div#main {
	background-color: #ffffff;
	border: 1px solid #888888;
	float: left;
	margin: 1px;
	margin-top: 0px;
	padding: 0.5em;
	width: 80%;
}

div#navigation {
	background-color: #ffffff;
	border: 1px solid #888888;
	float: left;
	font-weight: bold;
	font-family: arial, helvetica, sans-serif;
	margin: 1px;
	margin-top: 0px;
	padding: 0.5em;
	text-align: right;
	width: 15%;
}

div.newsitem {
	background-color: #f0f0f0;
	border: 1px dashed #bbbbbb;
	font-family: arial, helvetica, sans-serif;
	margin: 1em;
	padding: 2px;
	padding-left: 4px;
}

div.newsitem div.text {
	padding: 0.5em;
	padding-top: 0px;
}

div.newsitem span {
	font-size: 65%;
	font-weight: bold;
}

hr {
	background-color: #aa0000;
	width: 70%;
}

img {
	border-style: none;
}

p.centered {
	text-align: center;
}

p.right {
	text-align: right;
}
