@import url("help.css");
@import url("source-viewer.css");
@import url("tooltip.css");

a.dfn {
	border-bottom: 1px dotted #00aa00;
	cursor: help;
}

a.dfn:active, a.dfn:link, a.dfn:visited {
	color: #000000;
	text-decoration: none;
}

a.dfn:hover {
	color: #0000ff;
	text-decoration: none;
}

body {
	font-family: verdana, arial, helvetica;
}

div.footer {
	font-size: 68%;
	margin-top: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.5em;
}

h5 {
	margin-top: 0.5em;
}

.hidden {
	display: none;
}

div.separator {
	height: 10px;
}

table tr td, table tr th {
	font-size: 68%;
}

td.value table tr td {
    font-size: 11px;
}

table.report {
	border-collapse: collapse;
	width: 100%;
}

table.report td.heading {
    background: #dcecff;
	border: #d0d0d0 1px solid;
	font-weight: bold;
	text-align: center;
}

table.report td.heading:hover {
    background: #c0ffc0;
	cursor: pointer;
}

table.report td.text {
	border: #d0d0d0 1px solid;
}

table.report td.value {
	border: #d0d0d0 1px solid;
	text-align: right;
}

table.percentGraph {
	border: #808080 1px solid;
	height: 12px;
	empty-cells: show;
}

table.percentGraph td.covered {
    background: #00f000;
	height: 10px;
}

table.percentGraph td.uncovered {
    background: #e00000;
	height: 10px;
}

table.percentGraph td.NA {
    background: #eaeaea;
	height: 10px;
}
